.timelineContainer {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timelineRow {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  position: relative;
  background-color: #ced6e0;
  border-bottom: 1px solid black;
}

.rowPill {
  width: 100%;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
}

.rowPill.dragging {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -ms-grab;
  cursor: -o-grab;
  cursor: grabbing;
}


@media screen and (max-width: 768px) {
  .timelineContainer {
    padding: 0.5rem;
  }

  .rowPill {
    font-size: 0.6rem;
  }
}