.appContainer {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.appTitle {
  text-align: center;
}

.actionCenter {
  padding: 0 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.audioBtn {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.progressContainer {
  width: 100%;
  position: relative;
  height: 10px;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: darkgray;
  margin-top: 1rem;
}

.progressBar {
  width: 0;
  height: 100%;
  background-color: cornflowerblue;
}

@media screen and (max-width: 768px) {
  .appContainer {
    width: 100%;
  }
}